.cookiepolicy {
    background-color: #f0f9ff; /* Light blue background */
    margin: 20px auto; /* Centering */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow */
    max-width: 800px; /* Max width */
    font-family: 'Arial', sans-serif; /* Font family */
}

.cookiepolicy h1, .cookiepolicy h2 {
    color: #333; /* Dark text color for headings */
    margin-top: 20px;
}

.cookiepolicy p {
    color: #666; /* Lighter text color for paragraphs */
    line-height: 1.6; /* Line height for readability */
    margin-bottom: 15px; /* Spacing between paragraphs */
}

/* Responsive design */
@media (max-width: 900px) {
      .cookiepolicy {
        padding: 10px;
        margin: 10px; 
    }
}
/* for the accept and reject button*/
.btn{
    width: 150px;
    height: 40px;
    background-color: skyblue;
    color:black;
    margin: 30px;
    font-weight: bold;
    
}
.btn :hover{
    background-color: red;
    color:black;
     transition:  0.4s ease 0s;
    
}

